<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <node pkg="ntripbrowser_ros" type="nearestMP.py" name="ntrip_browser" output="screen">
 	 <param name="gps_topic" value="/ublox_gps/fix"/>
	 <param name="caster" value="caster.centipede.fr"/>
   <!--param name="caster" value="rtk2go.com"/-->
   <param name="max_dist" value="50"/>
   <param name="excluded_MP" value="[]"/>
  </node>
</launch>